<a href="https://colab.research.google.com/github/rushidhasulthanar-eng/advanced-python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 2025,
    "cur_year":2025
}
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2025, 'cur_year': 2025}

In [ ]:
car["brand"]

'Ford'

In [ ]:
car2 = dict(brand="maruthi",model="swift",year=2020)
car2

{'brand': 'maruthi', 'model': 'swift', 'year': 2020}

In [ ]:
car2["model"]

'swift'

In [ ]:
car2.get("brand")

'maruthi'

In [ ]:
len(car2)

3

In [ ]:
car2.keys()

dict_keys(['brand', 'model', 'year'])

In [ ]:
car2.values()

dict_values(['maruthi', 'swift', 2020])

In [ ]:
car2['model'] = "alto"
car2

{'brand': 'maruthi', 'model': 'alto', 'year': 2020}

In [ ]:
car2['color'] = "grey"
car2

{'brand': 'maruthi', 'model': 'alto', 'year': 2020, 'color': 'grey'}

In [ ]:
car2.update({"cylinder":6,"engine":"petrol","color":"black"})
car2

{'brand': 'maruthi',
 'model': 'alto',
 'year': 2020,
 'color': 'black',
 'cylinder': 6,
 'engine': 'petrol'}

In [ ]:
car2.items()

dict_items([('brand', 'maruthi'), ('model', 'alto'), ('year', 2020), ('color', 'black'), ('cylinder', 6), ('engine', 'petrol')])

In [ ]:
car2.popitem()

('engine', 'petrol')

In [ ]:
car2.pop("cylinder")

6

In [ ]:
del car2['model']

KeyError: 'model'

In [ ]:
emp1 = {"Name":"raj",
        "salary":45000,
        "dept":"HR"}

emp2 = {"name":"manoj",
        "salary" :35000,
        "dept":"IT"}
emp3 ={"name":"sumin",
       "salary" :40000,
       "dept":"finance",
       "grade":"M1"}
employees = {
"employee1" : emp1,
"employee2" : emp2,
"employee3" : emp3
}
employees

{'employee1': {'Name': 'raj', 'salary': 45000, 'dept': 'HR'},
 'employee2': {'name': 'manoj', 'salary': 35000, 'dept': 'IT'},
 'employee3': {'name': 'sumin',
  'salary': 40000,
  'dept': 'finance',
  'grade': 'M1'}}

In [ ]:
employees['employee1']

{'Name': 'raj', 'salary': 45000, 'dept': 'HR'}

In [ ]:
employees['employee2']

{'name': 'manoj', 'salary': 35000, 'dept': 'IT'}

In [ ]:
employees['employee3']

{'name': 'sumin', 'salary': 40000, 'dept': 'finance', 'grade': 'M1'}

In [ ]:
contacts = {'krishna':6235736104,'rushidha':7034826104,'aneena':3248901289,'devi':7902266104,'alfiya':9048556104}
contacts

{'krishna': 6235736104,
 'rushidha': 7034826104,
 'aneena': 3248901289,
 'devi': 7902266104,
 'alfiya': 9048556104}

In [ ]:
contacts.keys()

dict_keys(['krishna', 'rushidha', 'aneena', 'devi', 'alfiya'])

In [ ]:
contacts.values()

dict_values([6235736104, 7034826104, 3248901289, 7902266104, 9048556104])

In [ ]:
contacts['aneena'] = 1234567890
contacts

{'krishna': 6235736104,
 'rushidha': 7034826104,
 'aneena': 1234567890,
 'devi': 7902266104,
 'alfiya': 9048556104}

In [ ]:
contacts['varsha'] = 2345678901
contacts

{'krishna': 6235736104,
 'rushidha': 7034826104,
 'aneena': 1234567890,
 'devi': 7902266104,
 'alfiya': 9048556104,
 'varsha': 2345678901}

In [ ]:
contacts.update({'rushidha': 987654321,"rasiya":4567890123})
contacts

{'krishna': 6235736104,
 'rushidha': 987654321,
 'devi': 7902266104,
 'alfiya': 9048556104,
 'varsha': 2345678901,
 'rasiya': 4567890123}

In [ ]:
contacts.pop('aneena')

1234567890

In [ ]:
movies = ["avathar","titanic","RRR","Bahubali"]
ratings =[9.0,7.8,8.9,10]

movie_rating = dict(zip(movies,ratings))
movie_rating

{'avathar': 9.0, 'titanic': 7.8, 'RRR': 8.9, 'Bahubali': 10}

In [ ]:
a = 10
b = 15
if a>b:
   print("a is greater than b")
else:
   print("b is greater than a")

b is greater than a

In [ ]:
a = 25
b = 18
if a>b:
   print("a is greater than b")
elif a==b:
   print("a and b are equal")
else:
   print("b is greater than a")

a is greater than b

In [ ]:
a = 25
b = 18
if a>b:
   print("a is greater than b")
elif a==b:
   print("a and b are equal")
elif b==2*a:
   print("b is double of a")
else:
   print("b is greater than a")

a is greater than b

In [ ]:
score = 85

if score>=90:
   print("grade=A")
elif score>=80:
   print("grade=B")
elif score>=70:
   print("grade=c")
elif score>=60:
   print("grade=D")
else:
   print("grade=F")

grade=B

In [ ]:
age = 20
education = "high school"

if age>=18:
   if education == "higher secondary":
      print("you are eligible for college")
   else:
      print("you are not eligible for college but continue with higher studies")
else:
   print("you are not eligible")

you are not eligible for college but continue with higher studies

In [ ]:
x = 10
print("greater") if x > 5 else print("smaller")

greater

In [ ]:
marks = 45
result = "pass" if marks > 30 else "fail"
if result == "pass":
   print("awarded with A grade")
else:
   print("no awards")

awarded with A grade

In [ ]:
temperature = 32

weather = {"status" :"hot" if temperature >30 else "cold"}
weather

{'status': 'hot'}

In [ ]:
item_prices = [300,200,340,2100,40]
sum(item_prices)
print(sum(item_prices))
if sum(item_prices)>2000:
   print("you are eligible for 20% discount")
elif sum(item_prices)>1000:
   print("you are eligible for 10% discount")
else:
   print("no discount")
final_amount = sum(item_prices)-sum(item_prices)*(20/100)
print(final_amount)

2980
you are eligible for 20% discount
2384.0

In [ ]:
fruits=["apple","orange","banana"]
for fr in fruits:
  print(fr)

apple
orange
banana

In [ ]:
for i in range(10):
  print(f"square of {i} is {i**2}")

square of 0 is 0
square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81

In [ ]:
grocery_list = ["apples","bananas","milk","bread","eggs"]
for item in grocery_list:
    if item == "milk":
        print("the item found")
        break
    else:
      if item == "bananas":
        continue
    print("item not found")

item not found
the item found

In [ ]:
savings = [2000,2500,0,3000,1000,5000]
total = 0
for amount in savings:
    if amount == 0:
        continue
    if amount > 4000:
        print("your savings amount is greater than 4000")
    total+=amount
print(f"the sum is {total}")
tuple(savings)

your savings amount is greater than 4000
the sum is 13500

(2000, 2500, 0, 3000, 1000, 5000)

In [ ]:
set(savings)

{0, 1000, 2000, 2500, 3000, 5000}

In [ ]:
list(set(savings))

[0, 2500, 1000, 5000, 2000, 3000]

In [ ]:
number = ["7034856104","12345","6886006542123456","6789123","55691240974"]
invalid_count = 0
valid_count = 0
valid_nums = set()
for num in number:
    if len(num) != 10:
       print('invalid number')
       invalid_count+=1
       continue
    else:
       print('valid')
       valid_count += 1
       valid_nums.add(num)
       print(f"Invalid count is {invalid_count} and valid is {valid_count}")
       print(valid_nums)

valid
Invalid count is 0 and valid is 1
{'7034856104'}
invalid number
invalid number
invalid number
invalid number

while loop

w

In [ ]:
i=1
while i<10:
  print(i**1)
  i +=1

1
2
3
4
5
6
7
8
9

In [ ]:
savings_goal = 10000
current_sav = 0

monthly_dep = 1500

months = 0
while current_sav<savings_goal:
  current_sav += monthly_dep
  months +=1
else:
  print("you reached your goal")

  print(f"it will take {months} months to acheive your goal of {savings_goal}")

you reached your goal
it will take 7 months to acheive your goal of 10000

In [ ]:
student_grades = {"anu":85,"bob":63,"john":45,"sam":55,"ryan":52}

for i in student_grades.keys():ryan

  print(i)

anu
bob
john
sam
ryan

In [ ]:
for i in student_grades.values():
  print(i)

85
63
45
55
52

In [ ]:
for i,j in student_grades.items():
  print(i,":",j)
  if j > 50:
    print(f"{i}scored A grade")
  else:
    print(f"{i}scored B grade")

anu : 85
anuscored A grade
bob : 63
bobscored A grade
john : 45
johnscored B grade
sam : 55
samscored A grade
ryan : 52
ryanscored A grade

In [ ]:
emp1 = {"Name":"raj",
        "salary":45000,
        "dept":"HR"}

emp2 = {"name":"manoj",
        "salary" :35000,
        "dept":"IT"}
emp3 ={"name":"sumin",
       "salary" :40000,
       "dept":"finance",
       "grade":"M1"}
employees = {
"employee1" : emp1,
"employee2" : emp2,
"employee3" : emp3
}
employees

{'employee1': {'Name': 'raj', 'salary': 45000, 'dept': 'HR'},
 'employee2': {'name': 'manoj', 'salary': 35000, 'dept': 'IT'},
 'employee3': {'name': 'sumin',
  'salary': 40000,
  'dept': 'finance',
  'grade': 'M1'}}

In [ ]:
for empcode,empdetails in employees.items():
  for k,val in empdetails.items():
    if k == "Name" and val == "raj":

raj found